[submodule "OneDrive/Escritorio/COMPUA GRAFICA/P3 GITHUB/OneDrive/Escritorio/COMPUA GRAFICA/P3 GITHUB/Control-de-versiones"]
	path = OneDrive/Escritorio/COMPUA GRAFICA/P3 GITHUB/OneDrive/Escritorio/COMPUA GRAFICA/P3 GITHUB/Control-de-versiones
	url = https://github.com/usuario/repo.git
